@import "anime";
@import "index";

$main_color: #00a6d9;
$sub_color: #004c88;
$font_size: 15px;

body {
  font-family: "Noto Sans JP", 游ゴシック, "Yu Gothic", YuGothic,
    "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Noto Sans Japanese",
    Meiryo, sans-serif;
}

.top-logo {
  width: 90%;
  margin-top: -45px;
}

.all-logo {
  width: 90%;
}

.pw-text {
  font-size: 12px;
  font-weight: bold;
}
