@import "anime";
@import "index";

$main_color: #00a6d9;
$sub_color: #004c88;
$font_size: 15px;

body {
  font-family: "Noto Sans JP", 游ゴシック, "Yu Gothic", YuGothic,
    "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Noto Sans Japanese",
    Meiryo, sans-serif;
}

.top-logo {
  width: 312px;
  margin-top: -45px;
}

.all-logo {
  width: 312px;
}

.pw-text {
  font-size: 12px;
  font-weight: bold;
}

// // フッター

// footer {
//   width: 100%; /*横幅の指定*/
//   text-align: center; /*文字の中央寄せ*/
//   padding-top: 10px; /*文字上部の余白指定*/
//   padding-bottom: 10px; /*文字下部の余白指定*/
//   background-color: black; /*背景色の指定*/
//   color: #fff; /*文字色の指定*/
//   font-style: normal; /*文字の斜体を取り消す*/
// }
