main {
  width: 100%;
  margin: 0 auto;
  max-width: 600px;

  .gray-box {
    width: 100%;
  }

  h2 {
    font-size: 15px;
    font-weight: bold;
    color: #004c88;
  }

  h1 {
    font-size: 19px;
    font-weight: bold;
    color: #00a6d9;
  }

  .button-box {
    text-align: center;
    bottom {
      margin: 0 auto;
    }
  }
  .pw-text {
    margin-top: -10px;
  }
}

//   @media only screen and (min-width: 600px) {
// }
