body {
  width: 100%;
  text-align: center;
}

main {
  margin: 0 auto;
  max-width: 600px;
  text-align: left;

  .gray-box {
    width: 100%;
    height: 200px;
    background-color: #d4d6d5;
    // ロゴ上下中央よせ
    display: flex;
    justify-content: center;
    align-items: center;
    .top-logo {
      width: 300px;
      // height: 任意の値
    }
  }

  h2 {
    font-size: 15px;
    font-weight: bold;
    color: #004c88;
  }

  h1 {
    font-size: 19px;
    font-weight: bold;
    color: #00a6d9;
  }

  .button-box {
    width: 100%;
    text-align: center;
    bottom {
      margin: 0 auto;
    }
  }
  .pw-text {
    margin-top: -10px;
  }
}

//   @media only screen and (min-width: 600px) {
// }

// モーダルウィンドウのCSS
// ログイン用のウィンドウ
/*loginエリアをはじめは非表示*/
#login {
  display: none;
}

/*モーダルの横幅を変更したい場合*/
.modaal-container {
  max-width: 375px;
}

/*モーダルのボタンの色を変更したい場合*/
.modaal-close:after,
.modaal-close:before {
  background: #ccc;
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before {
  background: #666;
}

// ログイン用ここまで
