body {
  width: 100%;
  text-align: center;
}

main {
  margin: 0 auto;
  max-width: 600px;
  text-align: left;

  .gray-box {
    width: 100%;
    height: 200px;
    background-color: #d4d6d5;
    // ロゴ上下中央
    display: flex;
    justify-content: center;
    align-items: center;
    .top-logo {
      width: 300px;
    }
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    color: #004c88;
  }

  h1 {
    font-size: 19px;
    font-weight: bold;
    color: #0099d9;
  }

  .button-box {
    width: 100%;
    text-align: center;
    bottom {
      margin: 0 auto;
    }
  }
  .pw-text {
    margin-top: -10px;
  }
}

//   @media only screen and (min-width: 600px) {
// }
